body {
    background-color: rgb(253, 251, 251);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

#cabecalho {
    top: 0px;
    position: fixed;
    border: 10px rgb(167, 167, 167) solid;
    background-color: rgb(167, 167, 167);
    text-align: center;
    margin-left: 22%;
}

nav {
    margin-top: 120px;
    margin-left: 44%;
    text-align: center;
    color:dimgrey;
    font-size: 22px;
    border: 2px black solid;
    display: inline-block
}

section{
    text-align: justify;
}
#titulo {
    
}

#minha_foto {
    
}

#texto_requisito8 {
    text-align: justify;
}

#licoes_a_aprender {
    list-style: square;
}